.link {
  background: linear-gradient(to bottom right, #89f7fe, #66a6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
  }
  
  .active {
    background: linear-gradient(to bottom right, #89f7fe, #66a6ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .link:hover,
  .link:active {
    background: linear-gradient(to bottom right, #89f7fe, #66a6ff);
    -webkit-text-fill-color:white;
    }
    .text {
      color: white; /* Text color for better contrast */
      font-size: 1.5rem; /* Adjust size as needed */
      font-weight: bold; /* Optional for emphasis */
      text-shadow: 
          -1px -1px 2px gray,  
          1px -1px 2px gray,
          -1px 1px 2px gray,
          1px 1px 2px gray;
  }
  
  