.link {
  background: linear-gradient(to bottom right, #89f7fe, #66a6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
  }
  
  .active {
    background: linear-gradient(to bottom right, #89f7fe, #66a6ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .link:hover,
  .link:active {
    background: linear-gradient(to bottom right, #89f7fe, #66a6ff);
    -webkit-text-fill-color:white;
    }