  .imageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Smooth fading effect */
    z-index: 0;
    filter: brightness(0.5);
  }
  
  .imageWrapper.active {
    opacity: 1; /* Fully visible image */
  }
  
  .imageWrapper.inactive {
    opacity: 0; /* Invisible image */
  }
  
  .text {
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 1; /* Ensure text appears above the images */
  }
  