/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, #929292, #cce6ff);
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
