/* css/MainPage.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-align: center;
}

.container .button{
    width: 99%;
    display: flex;
    justify-content: end;
}

/* Existing styles */

.cardContainer {
    display: flex; /* Use flexbox for card layout */
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center align cards horizontally */
    margin-top: 20px; /* Space above the card container */
    border-radius: 10px;
    padding: 2rem;
    background-color: #ccc;
}

.card {
    background-color: white; /* White background for cards */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    margin: 10px; /* Space between cards */
    padding: 2rem; /* Padding inside cards */
    width: 60rem;
}

.verifyBar{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.passed{
    color: green;
    font-weight: 700;
    font-style: italic;
}

.viewPDFButton {
    padding: 2px 20px; /* Padding around button text */
    background-color: #ff0000; /* Red background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.viewPDFButton:hover {
    background-color: #cc0000; /* Darker red on hover */
}
