.container {
    margin-top: 20px; /* Space above the card container */
    border-radius: 10px;
    padding: 2rem;
    background-color: #ccc;
}

.user{
    display: flex;
}

.user .imageProfile{
    height: 200px;
    width: 200px;
    background-color: gray;
    border-radius: 10px;
}