/* app/(admin)/admin/storage/page.module.css */

.container {
  padding: 20px;
}

.title {
  font-size: 24px;
}

.toggleButton,
.editButton,
.saveButton {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggleButton:hover,
.editButton:hover,
.saveButton:hover {
  background-color: #005bb5;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.gridItem {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.image {
  max-width: 100%;
}

.quantityInput {
  width: 60px; /* Adjust as needed */
}

.quantityControl {
  display: flex; /* Flexbox for alignment */
  align-items: center; /* Center items vertically */
}

.saveContainer {
  margin-top: 20px; /* Space above the save button */
}

/* app/(admin)/admin/storage/page.module.css */

.container {
  padding: 20px;
}

.newItemForm {
  margin-bottom: 20px; /* Space below the form */
}

.inputField {
  margin-right: 10px; /* Space between fields */
}

.addButton {
  background-color: #28a745; /* Green color for add button */
}

.addButton:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Existing styles... */
